
.input-form{
    height: 50vh;
    background:mistyrose;
    padding: 30px;
    margin: auto;
    position:relative;



}
.input-form-content{
    display: flex;
    flex-direction: column;
    width: 20rem;
    position: relative;
    left: 40%;
    background:white;
    text-align: center;
}

.input-form-content:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,253)!important ;

}

@media screen and (max-width: 960px){
    .input-form-content{

        position: relative;
        left: auto;
        margin: auto;


    }


}