
.health-trips{
     padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1rem;



}
.health-trips h1{

    background: rgb(154,76,238);
    background: linear-gradient(90deg, rgba(154,76,238,0.7682423311121324) 35%, rgba(9,2,18,0.02874653279280459) 74%, rgba(200,154,213,1) 100%);
    text-align: center;
    padding-top: 1rem;
    height: 5rem;

    text-transform: uppercase;
    font-weight: bold;
    color: green;
}

.health-trips ol{
    background: #ff9999;
    padding: 20px;
}
.health-trips ul{
    background: skyblue;
    padding: 20px;
}
.health-trips li{
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
    font-size: 1.5rem;
}
.health-trips ul li{
    background: white;
    margin: 5px;
}
.health-trips h4{
    padding: 10px 20px ;
    color: gray;
}
@media screen and (max-width: 960px){
    .health-trips h1{
        font-size: 1.6rem;
    }

}